################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FPS/BlueprintCache
/.vs/FPS/DesignTimeBuild
/.vs/FPS/FileContentIndex
/.vs/FPS/v17/ipch
/.vs/FPS/v17
/Binaries/Win64
/Backup
/Intermediate
/Saved
