################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FPS/BlueprintCache
/.vs/FPS/DesignTimeBuild
/.vs/FPS/FileContentIndex
/.vs/FPS/v17/ipch
/.vs/FPS/v17
/Binaries/Win64
/Backup
/Intermediate
/Saved
/.vs/ProjectEvaluation
/Plugins/ShapeEditor/Binaries/Win64
/Plugins/ShapeEditor/Intermediate/Build/Win64/x64/UnrealEditor/Development/ShapeEditor
/.vs/FPS
/Content/AbandonedFactory
/Content/Fab/Megascans/3D/Sandbag_Pile_udqjbg1qx/Medium
/Content/MilitaryWeapSilver
